@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --Primary-Soft-orange: 35, 77%, 62%;
  --Primary-Soft-red: 5, 85%, 63%;

  --Neutral-Off-white: 36, 100%, 99%;
  --Neutral-Grayish-blue: 233, 8%, 79%;
  --Neutral-Dark-grayish-blue: 236, 13%, 42%;
  --Neutral-Very-dark-blue: 240, 100%, 5%;

  --font-familly-Inter:'Inter', sans-serif; ;
}
/*******************************************************
                          CSS Reset
  *******************************************************/
/*
    1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
      2. Remove default margin
    */
* {
  margin: 0;
}
/*
      3. Allow percentage-based heights in the application
    */
html,
body {
  height: 100%;
}
/*
      Typographic tweaks!
      4. Add accessible line-height
      5. Improve text rendering
    */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
      6. Improve media defaults
    */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
      7. Remove built-in form typography styles
    */
input,
button,
textarea,
select {
  font: inherit;
}
/*
      8. Avoid text overflows
    */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
ul {
  list-style: none;
  padding-left: 0;
}
/*******************************************************
                        Shared CSS
*******************************************************/
body{
    font-family: var(--font-familly-Inter);
    font-size: 0.9375rem;
    font-weight: 400;
    min-height: 100dvh;
    min-width: 100dvw;
}


/*******************************************************
                        footer CSS
*******************************************************/
.attribution {
  font-size: 11px;
  text-align: center;
}

main{
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas: 
  "alias-nav"
  "alias-hero"
  "alias-aside"
  "alias-trend";
}
/*******************************************************
                        Navigation CSS
*******************************************************/
.navigation{
  grid-area: alias-nav;
}
/*******************************************************
                    Main hero CSS
*******************************************************/
.main-hero{
  grid-area: alias-hero;
}
/*******************************************************
                        articles-aside CSS
*******************************************************/
.articles-aside{
  grid-area: alias-aside;
}
/*******************************************************
                        trending-articles CSS
*******************************************************/
.trending-articles{
  grid-area: alias-trend;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
/*******************************************************
                        Media Query CSS
*******************************************************/
@media (min-width: 600px){
  main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "alias-nav alias-nav alias-nav"
    "alias-hero alias-hero alias-aside"
    "alias-hero alias-hero alias-aside"
    "alias-trend alias-trend alias-trend";
  }
  /*******************************************************
                        Navigation CSS
*******************************************************/
.navigation{
  grid-area: alias-nav;
}
/*******************************************************
                    Main hero CSS
*******************************************************/
.main-hero{
  grid-area: alias-hero;
}
/*******************************************************
                        articles-aside CSS
*******************************************************/
.articles-aside{
  grid-area: alias-aside;
}
/*******************************************************
                        trending-articles CSS
*******************************************************/
.trending-articles{
  grid-area: alias-trend;
}
}